[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
esprima = "*"
"calmjs.parse" = "*"
dbt-duckdb = "*"
duckdb = "*"
dbt-core = "*"
dbt-bigquery = "*"
google-cloud-bigquery = "*"

[dev-packages]

[requires]
python_version = "3.10.6"
